body, html {
    height: 100%;
    margin: 0;
}
.barra {
    height: 8vh;
    color: white;
}
.catalogo {
    display: flex;
    height: 77vh;
}
.productos {
    width: 70%;
    padding: 20px;
    overflow-y: auto;
}
/*********************************/
.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;
  }
  
  .productosCard {
    flex: 0 1 calc((100% - (14px * 5)) / 4); 
    max-width: calc((100% - (14px * 5)) / 4);
    height: auto; 
    max-height: 470px;
    width: 350px;
    box-sizing: border-box; 
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: ffffff;
  }
  
  .productosCard--img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }
  
  .productosCard--titulo {
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
    color: #002c5b;
  }
  .productosCard--descripcion {
    font-size: 10px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .productosCard--precios {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .productosCard--precios .original{
    text-decoration: line-through;
    font-size: 10px;
    font-weight: 700;
    color: #777;
  }
  
  .productosCard--precios .oferta {
    font-size: 14px;
    color: #4CAF50;
    font-weight: bold;
  }
  
  .productosCard--disponibilidad {
    font-size: 14px;
    color: #555;
  }
  
  .productosCard--disponibilidad .disponibles {
    font-weight: bold;
    color: #004896;
  }
  
  .productosCard--boton {
    margin-top: auto;
    background-color: #004896;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .productosCard--boton:hover {
    background-color: #061e39;
  }
  .productosCard:hover {
    border-color: #007bff; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); 
    transform: scale(1.05); 
    background-color: #f0f8ff; 
    transform: translateY(-5px);
  }
/*********************************/
.carrito {
    width: 30%;
    padding: 20px;
    background-color: #f8f9fa;
    overflow-y: auto;
}
.footer {
    height: 15vh;
    background-color: #343a40;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}